@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.top {
	font-size: 72px;
	width: 1000px;
	text-align: center;
	padding: 35px 0px;
	margin: auto;
}
.nav-container {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.nav-menu {
	width: 1000px;
	margin: auto;
}
.nav-menu > a {
	display: inline-block;
	width: 120px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.body {
	overflow: hidden;
	width: 1000px;
	margin: auto;
	padding: 10px;
}
.left-body {
	float: left;
	width: 69%;
	overflow: hidden;
}
.right-body {
	float: right;
	width: 30%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.left-body, .right-body {
	height: 500px;
}
.new-feed {
	width: 49%;
	height: 100%;
	float: left;
}
.week-top-feed {
	width: 49%;
	height: 100%;
	float: right;
}
.new-feed, .week-top-feed {
	border: 1px solid lightgray;
}
.content-name {
	font-size: 20px;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
.login-box {
	border: 1px solid lightgray;
	height: 130px;
	padding: 20px;
}
.s-login-box {
	display: flex;
	justify-content: space-between;
}
.s-text {
	text-decoration: none;
	color: gray;
	font-size: 12px;
}
input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid lightgray;
	margin: 10px 0px 25px 0px;
}
.active-user {
	border: 1px solid lightgray;
	width: 100%;
	height: 330px;
}